{% extends "_layout/site" %}

{% requireLogin %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ alias('@web/css/pages/themes.css') }}"/>
{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script src="{{ alias('@web/js/sort-btns.js') }}" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

	{% include "_includes/title" %}

  {% set themaId = entry.categoryThemaSingle.one().id %}
  {% set verdiepingsdossiers = craft.entries().section("verdiepingsdossiers").level(1).relatedTo(themaId).all() %}
  {% set themadossiers = craft.entries().section("themadossiers").level(1).relatedTo(themaId).all() %}
  {% set escaperooms = craft.entries().section("escaperooms").level(1).relatedTo(themaId).all() %}
  {% set onderzoeksvragen = craft.entries().section("onderzoeksvragen").level(1).relatedTo(themaId).all() %}

  <div class="container">
    <div class="buttons flex">
      <div class="btn verdiepingsdossiers active" id="verdiepingsdossiers-btn">
        Verdiepingsdossiers
      </div>
      <div class="btn themadossiers" id="themadossiers-btn">
        Themadossiers
      </div>
      <div class="btn escaperooms" id="escaperooms-btn">
        Escaperooms
      </div>
      <div class="btn onderzoeksvragen" id="onderzoeksvragen-btn">
        Onderzoeksvragen
      </div>
    </div>
    <div class="artikels">
      <div class="verdiepingsdossiers flex" id="verdiepingsdossiers"> 
        
        {% if verdiepingsdossiers|length > 0 %}
          {% include "_includes/articles" with {articles: verdiepingsdossiers} %}
        {% else %}
          <h4>Er zijn nog geen verdiepingsdossiers voor dit thema.</h4>
        {% endif %}
        
      </div>
      <div class="themadossiers hidden" id="themadossiers">

        {% if themadossiers|length > 0 %}
          {% include "_includes/articles" with {articles: themadossiers} %}
        {% else %}
          <h4>Er zijn nog geen themadossiers voor dit thema.</h4>
        {% endif %}

      </div>
      <div class="escaperooms hidden" id="escaperooms">
        
        {% if escaperooms|length > 0 %}
          {% include "_includes/articles" with {articles: escaperooms} %}
        {% else %}
          <h4>Er zijn nog geen escaperooms voor dit thema.</h4>
        {% endif %}

      </div>
      <div class="onderzoeksvragen hidden" id="onderzoeksvragen">
        
        {% if onderzoeksvragen|length > 0 %}
          {% include "_includes/articles" with {articles: onderzoeksvragen} %}
        {% else %}
          <h4>Er zijn nog geen onderzoeksvragen voor dit thema.</h4>
        {% endif %}

      </div>
    </div>
  </div>


{% endblock %}
