.header-dropdown {
    width: 100vw;
    position: absolute;
    top: 95px;
    background: var(--wheat);
    z-index: 100;
    padding: 1rem 0;
}

.header-dropdown .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 1rem;
}

.header-dropdown .container .text {
    width: 14%;
    margin: 1rem;
    display: flex;
}

.header-dropdown .container .text a {
    color: var(--secondary);
}

.header-dropdown .container .text img {
    margin-right: 0.5rem;
}