.videos-div {
  margin: 2rem 0;
}

.videos-div .videos {
  display: flex;
  row-gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.videos-div .videos .video {
  min-width: calc(33% - 1rem);
  max-width: calc(33% - 1rem);
  margin-right: 1rem;

  border: 3px solid var(--primary);
  border-radius: 5px;
  padding: 1rem;

  color: var(--secondary);
  display: block;
  text-align: center;
  position: relative;
}

.videos-div .videos .video:hover {
  scale: 1.1;
}

.videos-div .videos .video .video-text i {
  position: absolute;
  left: 1rem
}