@import "variables.css";

header {
  background: var(--wheat);
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  align-items: center;
  padding: 0 3.75rem;
}

header .logo {
  width: 300px;
}

header nav {
  width: 500px;
}

header .icon {
  width: 300px;
  text-align: right;
}

header .logo img {
  width: 200px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li .themes{
  cursor: pointer;
}