{% extends "_layout/site" %}

{% requireLogin %}

{% if currentUser.getGroups[0].handle == "readers" %}
	{% redirect "/" %}
{% endif %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ alias('@web/css/pages/new.css') }}"/>
{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script src="{{ alias('@web/js/image-preview.js') }}"></script>
{% endblock %}

{% block content %}

	{% include "_includes/title" %}
	<div class="container">

		{% include "_includes/wizard/dossiers/new-form" %}

	</div>

{% endblock %}
