.buttons {
  margin-top: 1rem;
  justify-content: flex-start;
}

.buttons .btn {
  margin: 0 0.5rem;
  background-color: var(--wheat);
  color: var(--black);
}

.buttons .btn.active {
  margin: 0 0.5rem;
  background-color: var(--primary);
  color: var(--white);
}

.artikels {
  background-color: var(--wheat);
  padding: 1rem;
}

.artikels {
  padding-bottom: 3rem;
  background-color: var(--wheat);
}

.artikels .flex {
  margin-top: 1rem;
  justify-content: flex-start;
}