* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--black);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

.container {
  margin: 0 auto;
  padding: 0 100px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn {
  color: var(--white);
  background-color: var(--primary);
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.center-block {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.div-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.title {
  width: 100%;
  background-color: var(--secondary);
  text-align: center;
  padding: 20px 0;
}

a.button {
  color: var(--white);
  background-color: var(--primary);
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}

input:not([type="checkbox"]){
  width: 100%;
  height: 3rem;
  border: none;
  background-color: var(--wheat);
  font-size: 1.5rem;
  padding: 0 1rem;
}

input:focus {
  outline: 2px solid var(--primary);
}

textarea {
  width: 100%;
  height: 10rem;
  border: none;
  background-color: var(--wheat);
  font-size: 1.5rem;
  padding: 1rem;
  resize: none;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}